body {
    background-color: #e0cfbd;
    width: 800px;
    margin: 15px auto;
    padding: 20px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}
img {
    border: solid black;
}
.instruction-photo {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2, h3, h4 {
    font-family: "Monaco", monospace;
}
p, li {
    font-family: "Courier New", monospace;
}
.inline-list {
    display: inline-block;
    width: 190px;
    height: auto;
    vertical-align: top;
}